/*노말라이징*/
*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style:none;
}
a{
    text-decoration:none;
    color:inherit;
}

/*라이브러리*/
.row::after{
    clear:both;
    content: "";
    display: none;
}
.cell{
    float: left;   
}
.cell-right{
    float: right;
}