/*노말라이징*/
*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style:none;
}
a{
    text-decoration:none;
    color:inherit;
}

/*라이브러리*/
.row::after{
    clear:both;
    content: "";
    display: none;
}
.cell{
    float: left;
}
.cell-right{
    float: right;
}

.position{
	margin-left:1600px;
}
.position-origin{
	position: relative;
}
.position-center{
	position:absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,30%);
}

.table-outline{
	border: 2px solid black;
	width: 75vw;
}

